<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up page</title>
</head>
<style>
    *{
        font-family: sans-serif;
    }
</style>
<body>
    <h1> Sign Up page </h1>
    <form method="post" action="/user">
        <label> User Name</label>
        <input type = text required name = "name">
        <label> Eamil </label>
        <input type = text required name = "email">
        <label> Password </label>
        <input type = text required name = "password">

        <br>

        <button type="submit"> signup </button>
    </form>
</body>
</html>